In [1]:
import sqlparse

In [71]:
sql = 'select a,b,c from my_table;'
sqlparse.parse(sql)

(<Statement 'select...' at 0x7F7FC02EBCF0>,)

In [4]:
sqlparse.split(sql)

['select * from EMP where EMP.a = 3;', 'select * from EMP where EMP.a = 4;']

In [72]:
def test(sql):
    tokens = []
    sql = sqlparse.format(sql, keyword_case = 'upper')
    statements = sqlparse.split(sql)
    for stat in statements:
        token = sqlparse.parse(stat)
        tokens.append(token)

    return tokens, statements

In [73]:
tokens, statements = test(sql)

(<Statement 'SELECT...' at 0x7F7FB059CC10>,)

AttributeError: 'tuple' object has no attribute 'ttype'

In [8]:
statements = sqlparse.split(sql)
token = sqlparse.parse(statements[0])

In [85]:
from sqlparse.sql import Token

for sql in tokens:
    for token in sql:
        print(token.get_type())
        for t in token:
            print(type(t), t.value, t.ttype ,type(t.ttype))

SELECT
<class 'sqlparse.sql.Token'> SELECT Token.Keyword.DML <class 'sqlparse.tokens._TokenType'>
<class 'sqlparse.sql.Token'>   Token.Text.Whitespace <class 'sqlparse.tokens._TokenType'>
<class 'sqlparse.sql.IdentifierList'> a,b,c None <class 'NoneType'>
<class 'sqlparse.sql.Token'>   Token.Text.Whitespace <class 'sqlparse.tokens._TokenType'>
<class 'sqlparse.sql.Token'> FROM Token.Keyword <class 'sqlparse.tokens._TokenType'>
<class 'sqlparse.sql.Token'>   Token.Text.Whitespace <class 'sqlparse.tokens._TokenType'>
<class 'sqlparse.sql.Identifier'> my_table None <class 'NoneType'>
<class 'sqlparse.sql.Token'> ; Token.Punctuation <class 'sqlparse.tokens._TokenType'>

In [81]:
from sqlparse.sql import Token

for sql in tokens:
    for token in sql:
        print(token.get_type())
        print(type(token), token.value, type(token.ttype))
        token.token_next(1)
        print(type(token), token.value, type(token.ttype))

SELECT
<class 'sqlparse.sql.Statement'> SELECT a,b,c FROM my_table; <class 'NoneType'>
<class 'sqlparse.sql.Statement'> SELECT a,b,c FROM my_table; <class 'NoneType'>

In [11]:
token[0].tokens[4].ttype

Token.Keyword